#parte3 h2 {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#parte3 {
    text-align: center;
}

html {
    background-color: #022340;
}