#navbar {
    height: 80px!important;
    background-color: #011526;
    border: 0;
}

.links {
    text-decoration: none!important;
    color: #ffffff!important;
    margin: 0 20px 0 20px;
    font-weight: bold!important;
}

@media (max-width: 400px) {
    .links{
        font-size: 13px!important;
    }
}