#texto {
    text-align: justify!important;
    color: #ffffff;
    width: 400px;
}

#card-texto {
    background-color: #011526!important;
    width: 500px!important;
    height: 300px!important;
    border-radius: 20px;
    margin-left: calc(100% - 93.7%);
}

#card-titulo-texto {
    color: #ffffff;
    text-align: center;
}

#card-texto-princ {
    background-color: #022340;
    margin-bottom: 2%;
    border: 0;
}

@media (max-width: 400px) {
    #texto {
        text-align: justify!important;
        color: #ffffff;
        width: 300px;
    }
    
    #card-texto {
        background-color: #011526!important;
        width: 350px!important;
        height: 400px!important;
        border-radius: 20px;
        margin: 0;
        
    }
}

@media (max-width: 550px) {
    #texto {
        text-align: justify!important;
        color: #ffffff;
        width: 300px;
    }
    
    #card-texto {
        background-color: #011526!important;
        width: 350px!important;
        height: 400px!important;
        border-radius: 20px;
        margin: 0;
        
    }
}
